.panel.panel-default
  .panel-body
    .row
      .col-md-5
        #cover
          = image_tag @book.cover.url(:medium)
        .table-responsive
          %table.table
            %tr
              %td
                %strong Title:
              %td= @book.title
            %tr
              %td
                %strong Author:
              %td= @book.author
            %tr
              %td
                %strong Publisher:
              %td= @book.publisher
            %tr
              %td
                %strong Date of publication:
              %td= @book.year
            %tr
              %td
                %strong ISBN number:
              %td= @book.ISBN_number
            %tr
              %td
                %strong Pages:
              %td= @book.page_count
            %tr
              %td
                %strong Description:
              %td= @book.description
= link_to 'Edit', edit_book_path(@book), class: "btn btn-default"

= link_to 'Back', books_path, class: "btn btn-default"
